.converter {
    text-align: center;
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    color: #FFF;
    user-select: none;

    &__settings {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 1;
        animation: settings-in .75s 1.25s backwards ease;

        &__reverse {
            font-size: 3em;
            font-weight: 500;
        }
    }

    &__elements {
       height: 100%;
    }
}
 
@keyframes settings-in {
    from {
        transform: translate(-50%, -65%); 
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%); 
        opacity: 1;
    }
}